.page-layout {
  height: 100%;
  width: 100%;
}

.page-layout__header {
  height: 61px;
  line-height: 61px;
  text-transform: uppercase;
  border-bottom: 1.1px solid #d3d3d3;
}

.page-layout__name {
  padding: 0 20px;
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #9c27b0;
  user-select: none;
}

.page-layout__content {
  padding: 10px;
  position: relative;
}

@media (max-width: 767px) {
  .page-layout__content {
    padding: 0;
  }
  .page-layout .page-layout__content .event-sections {
    margin: 10px;
  }
}
